<div class="pt-card card-sidebar">
  <div class="pt-tabs pt-tab-vertical">
    <div class="pt-tab-list" role="tablist">
      <div
        class="pt-tab"
        role="tab"
        aria-selected="{% if page.key == 'news' %}true{% else %}false{% endif %}"
      >
        <span class="pt-icon-standard pt-icon-feed sidebar-icon"></span>
        <a href="/">News</a>
      </div>
      <div
        class="pt-tab"
        role="tab"
        aria-selected="{% if page.key == 'about' %}true{% else %}false{% endif %}"
      >
        <span class="pt-icon-standard pt-icon-star sidebar-icon"></span>
        <a href="/about.html">About</a>
      </div>
      <div
        class="pt-tab"
        role="tab"
        aria-selected="{% if page.key == 'rules' %}true{% else %}false{% endif %}"
      >
        <span class="pt-icon-standard pt-icon-book sidebar-icon"></span>
        <a href="/rules.html">Rules</a>
      </div>
      <div
        class="pt-tab"
        role="tab"
        aria-selected="{% if page.key == 'environment' %}true{% else %}false{% endif %}"
      >
        <span class="pt-icon-standard pt-icon-application sidebar-icon"></span>
        <a href="/environment.html">Environment</a>
      </div>
      <div
        class="pt-tab"
        role="tab"
        aria-selected="{% if page.key == 'contestants' %}true{% else %}false{% endif %}"
      >
        <span class="pt-icon-standard pt-icon-people sidebar-icon"></span>
        <a href="/contestants.html">Contestants</a>
      </div>
      <div
        class="pt-tab"
        role="tab"
        aria-selected="{% if page.key == 'schedule' %}true{% else %}false{% endif %}"
      >
        <span class="pt-icon-standard pt-icon-calendar sidebar-icon"></span>
        <a href="/schedule.html">Schedule</a>
      </div>
      <div
        class="pt-tab"
        role="tab"
        aria-selected="{% if page.key == 'contact' %}true{% else %}false{% endif %}"
      >
        <span class="pt-icon-standard pt-icon-envelope sidebar-icon"></span>
        <a href="/contact.html">Contact us</a>
      </div>
    </div>
  </div>
</div>
